
<div class="container mt-4">
  <div class="row">

    <div class="col-sm-4 mb-5">
      <h4>الملف الشخصي</h4>
    </div>

    <div class="col-sm-8">
      <div class="alert-info" *ngIf="editForm.dirty">يرجى حفظ البيانات للملف الشخصي</div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img class="img-thumbnail" src="{{navPhotoURL}}" alt="{{user?.knownAs}}">
        <div class="card-body">
          <strong>اسكن في : </strong>
          <p>{{user?.country}} - {{user?.city}}</p>

          <strong>اخر ظهور :  </strong>
          <p>{{user?.lastActive}}</p>

          <strong>مشترك منذ : </strong>
          <p>{{user?.createdAt}}</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-success btn-block" [disabled]="!editForm.dirty" form="editForm">حفظ البيانات</button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tap-panel">
        <tabset class="member-tabset">
          <tab heading="معلوماتي">

            <form #editForm = "ngForm" id="editForm" (ngSubmit)="saveUserInfo()">
            <h4>عن نفسي</h4>
            <textarea name="introduction" [(ngModel)]="user!.introduction" cols="100" rows="4" class="form-control"></textarea>

            <h4>ابحث عن</h4>
            <textarea name="lookingFor" [(ngModel)]="user!.lookingFor" cols="100" rows="4" class="form-control"></textarea>

            <h4>هواياتي</h4>
            <textarea name="interests" [(ngModel)]="user!.interests" cols="100" rows="4" class="form-control"></textarea>

            <div class="form-inline">
              <label for="country">البلد</label>
              <input type="text" name= "country" class="form-control ml-4 mt-2" [(ngModel)]="user!.country">
              <label for="city">المدينة</label>
              <input type="text" name="city" class="form-control ml-4 mt-2" [(ngModel)]="user!.city">
            </div>
          </form>

          </tab>
          <tab heading="صوري">
            <app-photo-edit [photos]="user!.photos" (eventChangedMainPhoto) = "receivedEventChangedMainPhoto($event)"></app-photo-edit>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
